[MESSAGES CONTROL]
disable=
    W0718,  # broad-exception-caught
    W0719,  # broad-exception-raised
    C0301,  # line-too-long
    C0303,  # trailing-whitespace
    C0305,  # trailing-newlines
    C0116,  # missing-function-docstring
    C0304   # missing-final-newline